.centerText {
  min-height: 100%;
  vertical-align: middle;

  p {
    text-align: center;
  }

  h3 {
    padding-top: 60px;
    text-align: center;
  }
}

.homeContainer {
  Display: flex;
  Align-Items: center;
  Justify-Content: center;
}