@media all and (min-width: 500px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 500px;
  }

  .Login h2 {
    text-align: center;
  }

  .Login p{
    text-align: center;
  }
}