@media all and (min-width: 500px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 500px;
  }

  .Signup h2 {
    text-align: center;
  }

  .Signup p{
    text-align: center;
  }
}